.notes-list__note {
	padding-left: 10%;
	height: 10%;
	font-family: 'Titillium Web', sans-serif;
	width: 80%;
	min-height: 50px;
	max-height: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	overflow: hidden;
	line-height: 25px;
	cursor: pointer;

	animation: showNote 0.5s ease forwards;
}

.notes-list__note-wrap {
	transition: background 0.25s ease;
	&:hover {
		background-color: rgba(197,197,197, 0.5);
	}
}

.active {
	background-color: rgba(197,197,197, 0.5);
}

.notes {
	height: 80%;
	overflow-y: auto;
}

.notes-list__title {
	margin: 0;
	padding: 0;
}

.notes-list__text {
	margin: 0;
	color: #555;
	width: 203px;
	font-size: 0;
	padding-left: 2%;
	margin-top: 2%;

	&:first-line {
		font-size: 14px;
	}
}

@keyframes showNote {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}